@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');

.form {
  text-align: center;
}

.title {
  font: normal 24px 'Open Sans', sans-serif;
}

.formContent {
  padding: 5%;
}

.title {
  width: 100%;
}

.body {
  margin-top: 2.5%;
  padding: 20%;
  width: 100%;
}

.submit {
  width: 100%;
}